.grid_container {
    border: 0.5px solid gray;
    padding: 10px;
    background-color: white;
    display: grid;
    gap: 10px;
    width: 380px;
    grid-template-columns: 120px 120px 120px;
    grid-template-areas:
        "header header header"
        "sidebar content content"
        "footer  footer  footer";
}

.grid_item {
    border: none;
    padding: 20px;
    color: white;
    background-color: gray;
    text-align: center;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}